body {
  color: #212121;
  font-family: "Roboto", sans-serif;
}

.header-navigation__logo {
  color: #212121;
  font-family: Raleway;
}

.header-list__link {
  color: #212121;
}

.about-us__heading {
  color: #212121;
}

.second-heroes {
  color: #212121;
}

.team-naming__name {
  color: #212121;
}

.button-list__button {
  color: #212121;
}

.portfolio-items-list__project-name {
  color: #212121;
}

.modal__close-icon {
  fill: #212121;
}

.modal__icon-name {
  fill: #212121;
}

.header-right__mail {
  color: #757575;
}

.header-right__tel {
  color: #757575;
}

.about-us__text {
  color: #757575;
}

.team-naming__position {
  color: #757575;
}

.portfolio-items-list__project-type {
  color: #757575;
}

.logo-part__web {
  color: #2196f3;
}

.hero__button {
  color: #ffffff;
  background-color: #2196f3;
}

.header-list__active {
  color: #2196f3;
}

.header-list__link-studio {
  color: #2196f3;
}

.modal__send-button {
  color: #ffffff;
  background-color: #2196f3;
}

.modal-checkbox__contract-link {
  color: #2196f3;
}

.subscribe__button {
  color: #ffffff;
  background-color: #2196f3;
}

.header {
  background-color: #ffffff;
}

.hero__title {
  color: #ffffff;
}

.team__item {
  background-color: #ffffff;
}

.footer__logo {
  color: #ffffff;
  font-family: Raleway;
}

.footer-background {
  background-color: #2f303a;
}

.footer__adress {
  color: #ffffff;
}

.container {
  /* width: 100%; */
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    width: 1600px;
  }
}

.header-list__link:hover, .header-list__link:focus {
  color: #2196f3;
}

.header-right__mail:hover, .header-right__mail:focus {
  color: #2196f3;
}

.header-right__tel:hover, .header-right__tel:focus {
  color: #2196f3;
}

.header-right__mail:hover .header-right__mail__icon,
.header-right__mail:focus .header-right__mail__icon {
  fill: #2196f3;
}

.header-right__tel:focus .header-right__tel__icon,
.header-right__tel:hover .header-right__tel__icon {
  fill: #2196f3;
}

.socials-list__item-link:hover .socials-list__icon,
.socials-list__item-link:focus .socials-list__icon {
  fill: #ffffff;
}

.socials-list__item-link:hover, .socials-list__item-link:focus {
  background-color: #2196f3;
}

.all-clients__link:focus .all-clients__icon,
.all-clients__link:hover .all-clients__icon {
  fill: #2196f3;
}

.all-clients__link:hover, .all-clients__link:focus {
  border-color: #2196f3;
}

.socials-list__item-link-footer:hover, .socials-list__item-link-footer:focus {
  background-color: #2196f3;
}

.button-list__button:focus, .button-list__button:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.portfolio-items-list__box:hover .portfolio-items-list__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.modal__close-button:hover .modal__close-icon {
  fill: #2196f3;
}

.modal__form input:hover, .modal__form input:focus {
  border: 1px solid #2196f3;
}

.modal__form input[type="checkbox"] {
  width: 16px;
  height: 15px;
  border: none;
  margin: 0 8.38px 0 0;
  cursor: default;
}

.modal__form textarea:hover, .modal__form textarea:focus {
  border: 1px solid #2196f3;
}

.modal__form input:hover + .modal__icon-name {
  fill: #2196f3;
}

.modal__labels:hover .modal__icon-name,
.modal__icon-name .modal__labels:focus {
  fill: #2196f3;
}

.modal-checkbox:checked ~ .modal-checkbox__icon-check {
  background: #2196f3;
  border: 2px solid #2196f3;
}

.header-list__active::after {
  content: "";
  display: block;
  width: 100%;
  bottom: 0;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  border-radius: 2px;
}

.modal__form textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__form textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__form textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__form textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
/*# sourceMappingURL=main.css.map */