/* :root {
  --main-title-color: #212121;
  --secondary-title-color: #ffffff;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --background-color-second: #f5f4fa;
  --adress-color: #ffffff;
} */

@keyframes animation {
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-title-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}
/* header */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  /* width: 100%; */
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--secondary-title-color);
}

.header-navigation {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
}

.header-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-right__tel,
.header-right__mail {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation__logo {
  display: flex;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-title-color);
  margin-right: 93px;
}

.logo-part__web {
  color: var(--accent-color);
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-right__item:not(:last-child) {
  margin-right: 50px;
}

.header-right__item {
  display: flex;
  align-items: center;
}

.header-right__mail__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-right__tel__icon {
  width: 12px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__line {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-title-color);
}

.header-list__link:hover,
.header-list__link:focus,
.header-right__mail:hover,
.header-right__mail:focus,
.header-right__tel:focus,
.header-right__tel:hover {
  color: var(--accent-color);
}

.header-right__mail:hover .header-right__mail__icon,
.header-right__mail:focus .header-right__mail__icon,
.header-right__tel:focus .header-right__tel__icon,
.header-right__tel:hover .header-right__tel__icon {
  fill: var(--accent-color);
}

.header-right__mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
  display: flex;
}

.header-right__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}

/* main */

.hero__button {
  display: block;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  cursor: pointer;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-top: 10px;
  border-radius: 4px;
  margin: 0px auto 0px auto;
  border: none;
}

.hero__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  width: 696px;
  margin: 0px auto 30px auto;
}

.hero__background {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-backimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.about-us__icon__background {
  padding: 25px 100px;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
}

.about-us {
  padding-top: 94px;
}

.about-us__list {
  display: flex;
  justify-content: center;
}

.about-us__list__item:not(:last-child) {
  margin-right: 30px;
}

.about-us__heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-title-color);
  margin-bottom: 10px;
}

.about-us__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

.what-we-are-doing {
  padding-top: 94px;
  padding-bottom: 94px;
}

.second-heroes {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
  text-align: center;
  margin-bottom: 50px;
}

.what-we-are-doing__list {
  display: flex;
  justify-content: center;
}

.what-we-are-doing__list-item:not(:last-child) {
  margin-right: 30px;
}

.what-we-are-doing__list-item {
  position: relative;
}

.what-we-are-doing__text {
  width: 100%;
  display: flex;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  z-index: 1;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__list {
  display: flex;
  justify-content: center;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--secondary-title-color);
}

.team-naming--centration {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-naming__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--main-title-color);

  margin-bottom: 10px;
}

.team-naming__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
  margin-bottom: 16px;
}

.team-naming__socials-list {
  display: flex;
  justify-content: center;
}

.socials-list__item:not(:last-child) {
  margin-right: 10px;
}

.socials-list__item-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list__icon {
  fill: #afb1b8;
}

.socials-list__item-link:hover .socials-list__icon,
.socials-list__item-link:focus .socials-list__icon {
  fill: #ffffff;
}

.socials-list__item-link:hover,
.socials-list__item-link:focus {
  background-color: var(--accent-color);
}

.all-clients {
  padding: 94px 0;
}
.all-clients__hero {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 50px;
}

.all-clients__link {
  display: block;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.all-clients__list {
  display: flex;
  justify-content: center;
}

.all-clients__link-item:not(:last-child) {
  margin-right: 30px;
}

.all-clients__icon {
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.all-clients__link:focus .all-clients__icon,
.all-clients__link:hover .all-clients__icon {
  fill: var(--accent-color);
}

.all-clients__link:focus,
.all-clients__link:hover {
  border-color: var(--accent-color);
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__first-column {
  margin-right: 70px;
}

.footer-background {
  background-color: var(--background-color);
  padding: 60px 0px;
}

.footer__item:not(:last-child) {
  margin-right: 70px;
  margin-bottom: 9px;
}

.footer__logo {
  display: block;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-title-color);

  margin-bottom: 20px;
}

.footer__adress {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--adress-color);

  margin-bottom: 9px;
}

.footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__items {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.footer__item:not(:last-child) {
  display: block;
}

.team-naming__socials-list-footer {
  display: flex;
}
.socials-list__item-link-footer {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list__item-link-footer:hover,
.socials-list__item-link-footer:focus {
  background-color: var(--accent-color);
}

.socials-list__icon-footer {
  fill: #ffffff;
}

.direction {
  display: flex;
}

.subscribe__conection {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}

.socials-list__item-footer:not(:last-child) {
  margin-right: 10px;
}

/* Headers */

.header-list__active {
  color: var(--accent-color);
  display: block;
}
.header-list__active::after {
  content: "";
  display: block;
  width: 100%;
  bottom: 0;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  border-radius: 2px;
}

.header-list__link-studio {
  color: var(--accent-color);
}

/* Portfolio.html */

.main-portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
}

.button-list__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background-color: var(--background-color-second);
  padding-left: 22px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-top: 6px;
  border: none;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list__button:focus,
.button-list__button:hover {
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-items-list__project-name {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin-bottom: 4px;
}

.portfolio-items-list__project-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-items-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  justify-content: center;
  padding: 0 1px;
}

.portfolio-items-list__item {
  margin: 15px;
}

.portfolio-items-list__text {
  display: block;
  z-index: 2;
  padding: 20px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-items-list__shadow-cards:hover,
.portfolio-items-list__shadow-cards:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-items-list__box {
  display: block;
  position: relative;
  overflow: hidden;
}

/* .portfolio-items-list__box:hover .portfolio-items-list__overlay {
  transform: translatey(0);
} */

.portfolio-items-list__overlay {
  display: flex;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  transform: translatey(+100%);
  transition: transform 250ms ease;
}

.portfolio-items-list__text-pudding {
  padding: 63px 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  opacity: 1;
  transition: opacity 250ms linear;
}

.backdrop.backdrop--is-hiden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.backdrop.backdrop--is-hiden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;

  transition: transform 250ms;
}

.modal__close-button {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close-button:hover .modal__close-icon {
  fill: var(--accent-color);
}

.modal__close-icon {
  fill: var(--main-title-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form {
  display: flex;
  margin: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal__labels:not(:nth-last-child(2)) {
  display: flex;
  flex-direction: column;
}

.modal__text {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.modal__labels {
  margin-bottom: 10px;
  width: 100%;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: #757575;
  position: relative;
}

.modal__form input,
.modal__form textarea {
  padding: 12px 10px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form input {
  padding-left: 42px;
}

.modal__form input:hover,
.modal__form textarea:hover {
  border: 1px solid var(--accent-color);
}
.modal__form textarea:focus,
.modal__form input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal__form input:focus + .modal__icon-name {
  fill: var(--accent-color);
}

/* .modal__form textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
} */

.modal__labels:nth-last-child(2) {
  display: flex;
  align-items: center;
  /* flex-direction: row; */
  justify-content: center;
  margin-bottom: 30px;
}

.modal__labels:nth-last-child(3) {
  margin-bottom: 20px;
}

.modal-checkbox__contract-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;
}

.modal__form input[type="checkbox"] {
  width: 16px;
  height: 15px;
  border: none;
  margin: 0 8.38px 0 0;
  cursor: default;
}

.modal__send-button {
  width: 200px;
  display: block;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  cursor: pointer;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-top: 10px;
  border-radius: 4px;
  margin: 0px auto 0px auto;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-checkbox__contract-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--accent-color);
  margin-left: 5px;
}

.modal__labels {
  position: relative;
}

.modal__icon-name {
  position: absolute;
  top: 55%;
  left: 14px;
  fill: var(--main-title-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__labels:hover .modal__icon-name,
.modal__labels:focus .modal__icon-name {
  fill: var(--accent-color);
}

.modal-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.modal-checkbox__icon-check {
  border: 2px solid black;
  border-radius: 3px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8.38px;
  cursor: pointer;
}

.modal-checkbox:checked ~ .modal-checkbox__icon-check {
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.modal__labels:nth-last-child(2) {
  display: flex;
  flex-direction: row-reverse;
}

.modal-checkbox__reverse {
  display: flex;
}

.subscribe {
  margin-left: 93px;
}

.subscribe input {
  height: 50px;
  width: 358px;
  border-radius: 4px;
  fill: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 16px;
  background-color: #2f303a;
  color: white;
}

.subscribe input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe__button {
  margin-left: 12px;

  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  cursor: pointer;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-top: 10px;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
}

.subscribe__icon-send {
  margin-left: 10px;
}

.subscribe__form {
  display: flex;
}

.modal__textarea-place {
  height: 120px;
  resize: none;
}
