:root {
  --main-title-color: #212121;
  --secondary-title-color: #ffffff;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --background-color-second: #f5f4fa;
  --adress-color: #ffffff;
}

@keyframes animation {
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-title-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}
/* header */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--secondary-title-color);
}

.header-navigation {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-tel,
.header-mail {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo {
  display: flex;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-title-color);
  margin-right: 93px;
}

.logo-first {
  color: var(--accent-color);
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-right-item:not(:last-child) {
  margin-right: 50px;
}

.header-right-item {
  display: flex;
  align-items: center;
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-icon {
  width: 12px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-title-color);
}

.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:focus,
.header-tel:hover {
  color: var(--accent-color);
}

.header-mail:hover .mail-icon,
.header-mail:focus .mail-icon,
.header-tel:focus .tel-icon,
.header-tel:hover .tel-icon {
  fill: var(--accent-color);
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
  display: flex;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}

/* main */

.hero-button {
  display: block;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  cursor: pointer;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-top: 10px;
  border-radius: 4px;
  margin: 0px auto 0px auto;
  border: none;
}

.hero-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  width: 696px;
  margin: 0px auto 30px auto;
}

.hero-background {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-backimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1600px;
}

.background-icon-about-us {
  padding: 25px 100px;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  margin-bottom: 30px;
}

.about-us {
  padding-top: 94px;
}

.list-about-us {
  display: flex;
  justify-content: center;
}

.list-item-about-us:not(:last-child) {
  margin-right: 30px;
}

.heading-about-us {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-title-color);
  margin-bottom: 10px;
}

.text-about-us {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

.what-we-are-doing {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-two {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
  text-align: center;
  margin-bottom: 50px;
}

.doings {
  display: flex;
  justify-content: center;
}

.doings-item:not(:last-child) {
  margin-right: 30px;
}

.doings-item {
  position: relative;
}

.doing-text {
  display: flex;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  z-index: 1;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--secondary-title-color);
}

.team-naming-centration {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--main-title-color);

  margin-bottom: 10px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
  margin-bottom: 16px;
}

.socials-list {
  display: flex;
  justify-content: center;
}

.social-link-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social {
  fill: #afb1b8;
}

.socials-link:hover .icon-social,
.socials-link:focus .icon-social {
  fill: #ffffff;
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}

.all-clients {
  padding: 94px 0;
}
.clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 50px;
}

.clients-link {
  display: block;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list {
  display: flex;
  justify-content: center;
}

.clients-link-item:not(:last-child) {
  margin-right: 30px;
}

.client-icon {
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:focus .client-icon,
.clients-link:hover .client-icon {
  fill: var(--accent-color);
}

.clients-link:focus,
.clients-link:hover {
  border-color: var(--accent-color);
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.first-column {
  margin-right: 70px;
}

.footer-background {
  background-color: var(--background-color);
  padding: 60px 0px;
}

.footer-item:not(:last-child) {
  margin-right: 70px;
}

.footer-logo {
  display: block;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-title-color);

  margin-bottom: 20px;
}

.adress {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--adress-color);

  margin-bottom: 9px;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-items {
  display: flex;
  align-items: baseline;
}

.footer-item:not(:last-child) {
  display: block;
}

.socials-list-footer {
  display: flex;
}
.socials-link-footer {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link-footer:hover,
.socials-link-footer:focus {
  background-color: var(--accent-color);
}

.icon-social-footer {
  fill: #ffffff;
}

.direction {
  display: flex;
}

.conection {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}

.social-link-item-footer:not(:last-child) {
  margin-right: 10px;
}

/* Headers */

.header-link-portfolio {
  color: var(--accent-color);
  display: block;
}
.header-link-portfolio::after {
  content: "";
  display: block;
  width: 100%;
  bottom: 0;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  border-radius: 2px;
}

.header-link-studio {
  color: var(--accent-color);
}

/* Portfolio.html */

.main-portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
}

.portfolio-buton {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background-color: var(--background-color-second);
  padding-left: 22px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-top: 6px;
  border: none;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buton:focus,
.portfolio-buton:hover {
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-name {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin-bottom: 4px;
}

.project-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.item-button:not(:last-child) {
  margin-right: 8px;
}

.list-items-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.item-portfolio {
  margin: 15px;
}

.item-text-portfolio {
  display: block;
  z-index: 2;
  padding: 20px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.shadow-cards:hover,
.shadow-cards:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.box {
  display: block;
  position: relative;
  overflow: hidden;
}

.box:hover .overlay {
  transform: translatey(0);
}

.overlay {
  display: flex;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  transform: translatey(+100%);
  transition: transform 250ms ease;
}

.text-pudding {
  padding: 63px 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  opacity: 1;
  transition: opacity 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;

  transition: transform 250ms;
}

.close-button {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button:hover .close-icon {
  fill: var(--accent-color);
}

.close-icon {
  fill: var(--main-title-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  display: flex;
  margin: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.labels:not(:nth-last-child(2)) {
  display: flex;
  flex-direction: column;
}

.form-text {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.labels {
  margin-bottom: 10px;
  width: 100%;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: #757575;
  position: relative;
}

.form input,
.form textarea {
  padding: 12px 10px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form input {
  padding-left: 42px;
}

.form input:hover,
.form textarea:hover,
.form input:focus,
.form textarea:focus {
  border: 1px solid var(--accent-color);
}

.form textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.labels:nth-last-child(2) {
  display: flex;
  align-items: center;
  /* flex-direction: row; */
  justify-content: center;
  margin-bottom: 30px;
}

.contract-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;
}

.form input[type="checkbox"] {
  width: 16px;
  height: 15px;
  border: none;
  margin: 0 8.38px 0 0;
  cursor: default;
}

.send-button {
  display: block;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  cursor: pointer;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-top: 10px;
  border-radius: 4px;
  margin: 0px auto 0px auto;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.link-contract {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--accent-color);
  margin-left: 5px;
}

.labels {
  position: relative;
}

.icon-name {
  position: absolute;
  top: 55%;
  left: 14px;
  fill: var(--main-title-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.labels:hover .icon-name,
.labels:focus .icon-name {
  fill: var(--accent-color);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.icon-check {
  border: 2px solid black;
  border-radius: 3px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8.38px;
  cursor: pointer;
}

.checkbox:checked ~ .icon-check {
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.labels:nth-last-child(2) {
  display: flex;
  flex-direction: row-reverse;
}

.reverse {
  display: flex;
}
