@import "./utils/variables";
@import "./components/colors-fonts";
@import "./components/pseudo";
@import "./components/header";
@import "./components/elements";
@import "./components/main-hero";
@import "./components/main-about-us";
@import "./components/what-we-are-doing";
@import "./components/team";
@import "./components/all-clients";
@import "./components/modal";
@import "./components/footer";
@import "./components/portfolio";
@import "./480px/index480";
