body {
  color: $main-title-color;
  font-family: $font-family-roboto;
}

.header-navigation__logo {
  color: $main-title-color;
  font-family: $font-family-raleway;
}

.header-list__link {
  color: $main-title-color;
}

.about-us__heading {
  color: $main-title-color;
}

.second-heroes {
  color: $main-title-color;
}

.team-naming__name {
  color: $main-title-color;
}

.button-list__button {
  color: $main-title-color;
  background-color: $background-color-second;
}

.portfolio-items-list__project-name {
  color: $main-title-color;
}

.modal__close-icon {
  fill: $main-title-color;
}

.modal__icon-name {
  fill: $main-title-color;
}

.header-right__mail {
  color: $main-text-color;
}

.header-right__tel {
  color: $main-text-color;
}

.about-us__text {
  color: $main-text-color;
}

.team-naming__position {
  color: $main-text-color;
}

.portfolio-items-list__project-type {
  color: $main-text-color;
}

.logo-part__web {
  color: $accent-color;
}

.hero__button {
  color: $secondary-title-color;
  background-color: $accent-color;
}

.header-list__active {
  color: $accent-color;
}

.header-list__link-studio {
  color: $accent-color;
}

.modal__send-button {
  color: $secondary-title-color;
  background-color: $accent-color;
}

.modal-checkbox__contract-link {
  color: $accent-color;
}

.subscribe__button {
  color: $secondary-title-color;
  background-color: $accent-color;
}

.header {
  background-color: $secondary-title-color;
}

.hero__title {
  color: $secondary-title-color;
}

.team__item {
  background-color: $secondary-title-color;
}

.footer__logo {
  color: $secondary-title-color;
  font-family: $font-family-raleway;
}

.footer-background {
  background-color: $background-color;
}

.footer__adress {
  color: $adress-color;
}
