.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  width: 100%;
}
.header-list {
  display: flex;
  align-items: center;
}

.header-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-right__tel,
.header-right__mail {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation__logo {
  display: flex;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  margin-right: 93px;
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-right__item:not(:last-child) {
  margin-right: 50px;
}

.header-right__item {
  display: flex;
  align-items: center;
}

.header-right__mail__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-right__tel__icon {
  width: 12px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__line {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-right__mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
}

.header-right__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-navigation__menu {
  display: flex;
  margin-left: auto;
  width: 100%;
}
