.hero__button {
  display: block;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  cursor: pointer;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-top: 10px;
  border-radius: 4px;
  margin: 0px auto 0px auto;
  border: none;
}

.hero__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  width: 696px;
  margin: 0px auto 30px auto;
}

.hero__background {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-backimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1600px;
}
