.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  opacity: 1;
  transition: opacity 250ms linear;
}

.backdrop.backdrop--is-hiden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.backdrop.backdrop--is-hiden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;

  transition: transform 250ms;
}

.modal__close-button {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close-icon {
  fill: var(--main-title-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form {
  display: flex;
  margin: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal__labels:not(:nth-last-child(2)) {
  display: flex;
  flex-direction: column;
}

.modal__text {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.modal__labels {
  margin-bottom: 10px;
  width: 100%;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: #757575;
  position: relative;
}

.modal__form input,
.modal__form textarea {
  padding: 12px 10px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form input {
  padding-left: 42px;
}

.modal__labels:nth-last-child(2) {
  display: flex;
  align-items: center;

  justify-content: center;
  margin-bottom: 30px;
}

.modal__labels:nth-last-child(3) {
  margin-bottom: 20px;
}

.modal-checkbox__contract-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;
}

.modal__form input[type="checkbox"] {
  width: 16px;
  height: 15px;
  border: none;
  margin: 0 8.38px 0 0;
  cursor: default;
}

.modal__send-button {
  width: 200px;
  display: block;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  cursor: pointer;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-top: 10px;
  border-radius: 4px;
  margin: 0px auto 0px auto;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-checkbox__contract-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  margin-left: 5px;
}

.modal__labels {
  position: relative;
}

.modal__icon-name {
  position: absolute;
  top: 55%;
  left: 14px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.modal-checkbox__icon-check {
  border: 2px solid black;
  border-radius: 3px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8.38px;
  cursor: pointer;
}

.modal__labels:nth-last-child(2) {
  display: flex;
  flex-direction: row-reverse;
}

.modal-checkbox__reverse {
  display: flex;
}

.modal__textarea-place {
  height: 120px;
  resize: none;
}
