.header-list__link {
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-right__mail {
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-right__tel {
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-right__mail__icon {
  .header-right__mail:hover &,
  .header-right__mail:focus & {
    fill: $accent-color;
  }
}

.header-right__tel__icon {
  .header-right__tel:focus &,
  .header-right__tel:hover & {
    fill: $accent-color;
  }
}
