$main-title-color: #212121;
$secondary-title-color: #ffffff;
$main-text-color: #757575;
$accent-color: #2196f3;
$background-color: #2f303a;
$background-color-second: #f5f4fa;
$adress-color: #ffffff;
$font-family-roboto: "Roboto", sans-serif;
$font-family-raleway: Raleway;
